
<!-- SETS @invitations to nil??? -->
<section>
  
  <% if logged_in? %>
  <h3>Open invitations near you:</h3>
  <ul>
    <% current_player.open_invitations.each do |match| %>
        <li>
          <%= match.date %> at <%= match.location %> by <%= match.player.username %> <%= link_to "Accept", accept_invitation_path(match), method: :patch %>
        </li>
    <% end %>
  </ul>
  <div>
    <%= link_to "Create a new invitation!", new_invitation_path %>
  </div>
  <% else %>
    <h3>Please log in or sign up to see open invitations near you!</h3>
  <% end %>

</section>

