<div class="col-sm-4 player-form">
<h2>Sign up to find tennis partners!</h2>
<%= form_for @player do |f| %>

  <% if @player.errors.any? %>
    <div>
      <h4>So sorry, please fix <%= pluralize(@player.errors.count, "error") %>:</h4>
        <ul>
          <% @player.errors.full_messages.each do |msg| %>
            <li><%= msg.downcase %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>

  <%= f.submit "Join Bounce!", class: "btn btn-success" %>
</div> <!-- form container ends -->
<% end %>