<div class="container">
  <section class="col-sm-7">
  <h3> <!-- RESPONSES -->
    You've got <%= pluralize(current_player.responses.count, "invitation") %> accepted
  </h3>
  <ul> 
    <% current_player.responses.each do |match| %>
      <li><%= match.date.strftime("%a, %b %-d %Y") %> at <%= match.time.strftime("%I:%M %p") %> at <%= match.location %> - with <%= match.responder.username %></li>
    <% end %>
  </ul>

  <h3> <!-- ACCEPTED -->
    You have accepted <%= pluralize(current_player.accepted.count, "invitation") %>
  </h3>
  <ul>
    <% current_player.accepted.each do |match| %>
      <li><%= match.date.strftime("%a, %b %-d %Y") %> at <%= match.time.strftime("%I:%M %p") %> at <%= match.location %> - with <%= match.player.username %></li>
    <% end %>
  </ul>

  <h3> <!-- PENDING -->
    You have <%= pluralize(current_player.pending.count, "pending invitation") %>
  </h3>
  <ul>
    <% current_player.pending.each do |match| %>
      <li><%= match.date.strftime("%a, %b %-d %Y") %> at <%= match.time.strftime("%I:%M %p") %> at <%= match.location %> - awaiting opponent</li>
    <% end %>
  </ul>

  <%= link_to "Create a new invitation!", new_invitation_path %>
  </section>

  <section class="col-sm-4"> <!-- ADD EDIT -->
    <!-- profile info -->
    <h3>YOUR STATS:</h3>
    
    <div>
      <% if current_player.image_url %>
        <%= image_tag current_player.image_url(:thumb) %>
      <% else %>
        <%= image_tag("default_userpic.jpg") %>
      <% end %>
    </div>

    <div>
      <p>Username: <%= current_player.username %></p>
    </div>

    <div>
      <p>Experience: <%= current_player.years_played ||= "?" %> years playing</p>
    </div>
    <div>
      <p>Gender: <%= current_player.gender ||= "?" %></p>
    </div>
    <%= link_to "Edit your profile", edit_player_path(current_player) %>
  </section>
</div>