<!DOCTYPE html>
<html>
<head>
  <title>Bounce</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if logged_in? %>

  <h4>Hello, <%= current_player.username %><small> | <%= link_to 'Browse', players_path %> | <%= link_to 'My Page', player_path(current_player) %> | <%= link_to 'Log Out', logout_path, method: :delete %></small></p>

<% else %>

  <div>
    <%= link_to 'Log In', login_path %> | <%= link_to 'Sign up', signup_path %>
  </div>
  
<% end %>

<% if flash[:welcome] %>
  <h4 class="bg-success flash"><%= flash[:welcome] %></h4>
<% end %>
<% if flash[:error] %>
  <h4 class="bg-danger flash"><%= flash[:error] %></h4>
<% end %>

<%= yield %>

</body>
</html>
